
.table {
    width: 570px;
    margin: auto;
}
table {
    width: 100%;
}
.d-block {
    display: none;
}
.tl-h1 {
    font-size: 30px;
    line-height: 36px;
}
.center {
    text-align: left;
}

  
@media (max-width: 360px) {
    .table {
        width: 320px;
        margin: auto;
    }
    .d-none {
        display: none;
    }
    .d-block {
        display: block;
    }
    .tl-h1 {
        font-size: 20px;
        line-height: 24px;
    }
    .center {
        text-align: center;
    }
}